Options -Indexes 
ErrorDocument 404 /404.php

#php_flag display_startup_errors
#php_flag display_errors on
#php_flag html_errors on
#php_flag log_errors on

<IfModule mod_rewrite.c>
	Options +FollowSymLinks
	RewriteEngine On
    RewriteCond %{SCRIPT_FILENAME} !-f
    RewriteCond %{SCRIPT_FILENAME} !-d
    RewriteCond %{SCRIPT_FILENAME} !-l
    RewriteRule ^(.*)$ index.php/$1
</IfModule>

<IfModule mod_dir.c>
	DirectoryIndex index.php index.html
</IfModule>
